.idea
*.zip
project1_bikesharing_prediction/.ipynb_checkpoints
10-sentiment-analysis-tutorial-trask/sentiment_network/.ipynb_checkpoints
*/mnist/train-images-idx3-ubyte
*/.ipynb_checkpoints
project2_image_classification/preprocess_*
project2_image_classification/cifar-10-*

18_19-dnn-tf-conv-net/*.gz
*/__pycache__
*.gz

26-word2vec/data

.floydexpt
.floydignore
/26-word2vec/checkpoints/
/34_sentiment_rnn/checkpoints/
/40-reinforcement/gym/
/secret.txt
